body {
    font-family: 'Lato', sans-serif;
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ff9625;
    background-image: linear-gradient(147deg, #ff9625 2%, #ff9625 11%, #ffc130 67%, #ff9966 100%);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a {
    padding: 1.2rem;
    text-decoration: none;
    font-size: 20px;
    color: #2c2a2a;
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  .overlay .closebtn {
    position: absolute;
    top: 5px;
    right: 3px;
    font-size: 50px;
  }
  .landinglogo{
    width: 20em;
    height: 7em;
    padding-bottom: 1rem;
}

.registerbtn{
    color:azure;
    background-color: black;
    padding: 10px;
    border-radius: 30px;
}
  /* Nav compressed */
  @media screen and (max-height: 450px) {
    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }

  