*{
    font-family: poppins;
}

a{
    text-decoration: none;
    color: black;
}
.body-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100vw;
}
.body{
    width: 100vw;
    height: 56vh;
}
#dl{
    text-align: center;
    font-size: 1.2em;
    letter-spacing: 0.08em;
}
.bodyimg{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 1rem;
}
.between{
    margin-left: 6%;
    margin-right: 6%;
}
.bodyimg-size{
    width: 9rem;
    display: flex;
    justify-content: space-between;

}
/* body */
.body2{
    background-color: #E5E7EB;
    width: 100vw;
    height: 17vh;
}

.myHeader{
    padding-top: 2%;
}
.myNavbar{
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.landingmenu{
    display: flex;
    flex-direction: row;
    text-decoration: none;
    justify-content: space-evenly;
}

.landingmenu button{
    color:azure;
    background-color: black;
    border-radius: 30px;
}
.landingmenu button:hover{
    color:black;
    background-color: rgb(201, 219, 219);
    cursor: pointer;
    font-weight: 400;
}

li{
    display: flex;
    justify-content: space-evenly;
    padding: .3rem 1.2rem 0rem 1.2rem;
    font-size: 0.875rem;
    font-weight: 500;
}
.landinglogo{
    width: 10%;
    height: 5%;
    padding-left: 2%;
}

.navmenu{
    display: flex;
    flex-direction: row;
}



/* Footer */
.footerwrap{
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    background-color: azure;
}
.footerimage{
    padding-top: .5rem;
    height: 2rem;
    width: 7rem;
    cursor: pointer;
}
.footpad{
    padding-top: .5rem;
    color:#6B7280   ;
}
.bgmid{
    background-color: #ff9625;
background-image: linear-gradient(147deg, #ff9625 2%, #ff9625 11%, #ffc130 67%, #ff9966 100%);
width: 100vw;
}