body {
    font-family: 'Poppins', sans-serif;
  }
  .overlay {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #ff9625;
    background-image: linear-gradient(147deg, #ff9625 2%, #ff9625 11%, #ffc130 67%, #ff9966 100%);
    overflow-y: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  .overlay a {
    padding: 1.2rem;
    text-decoration: none;
    font-size: 20px;
    color: #2c2a2a;
    display: block;
    transition: 0.3s;
  }
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  .overlay .closebtn {
    position: absolute;
    top: 5px;
    right: 3px;
    font-size: 50px;
  }
  .landinglogo{
    width: 20em;
    height: 7em;
    padding-bottom: 1rem;
}
.landinglogo-mobile{
    width: 13em;
    height: 4em;
    padding: 1rem 0rem .5rem .8rem;
}
.registerbtn{
    color:azure;
    background-color: black;
    padding: 10px;
    border-radius: 30px;
}
  /* Nav compressed */
  @media screen and (max-width: 450px) {
    .desktop-nav{
        display: none;
    }
    .landinglogo{
        width: 13em;
        height: 4em;
        padding: 1rem 0rem .5rem .8rem;
    }

    .overlay {overflow-y: auto;}
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 9px;
    right: 9px;
    }
  }

  @media screen and (min-width: 640px) {
  .burger{
      display: none;
  }
  
  }
  @media screen and (min-width: 1024px) {
    .burger{
        display: none;
    }
    .myHeader{
        padding-top: 2%;
    }
    .myNavbar{
    width: auto;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    }
    .landingmenu{
        display: flex;
        flex-direction: row;
        text-decoration: none;
        justify-content: space-evenly;
    }
    .landingmenu button{
        color:azure;
        background-color: black;
        border-radius: 30px;
    }
    .landingmenu button:hover{
        color:black;
        background-color: rgb(201, 219, 219);
        cursor: pointer;
        font-weight: 400;
    }
    li{
        display: flex;
        justify-content: space-evenly;
        padding: .3rem 1.2rem 0rem 1.2rem;
        font-size: 0.875rem;
        font-weight: 500;
        text-decoration: none;
    }
    a{
        text-decoration: none;
    }
    .landinglogo{
        width: 10%;
        height: 5%;
        padding-left: 2%;
    }
    .navmenu{
        display: flex;
        flex-direction: row;
    }
}
@media screen and (min-width: 1280px) {
    .burger{
        display: none;
    }
}
